svg .pumpkin {
    fill: yellow;
    stroke: orange;
    stroke-width: 5;
 }

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dc-chart .axis text {
    font-size: sans-serif;
    font-size: 11px;
    color: slategrey ;
}